@import '../../variables.css';


.header {
  background: url(./header-background.svg) no-repeat 0 0, var(--blue);
  background-size: cover;
  position: relative;
  top: 0;
  padding: 20px 0;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.coding {
  display: block;
  margin: 100px auto;
}
