@import '../../variables.css';

.features {
  color: var(--grey);
  padding: 50px 0;
  text-align: center;
}

.code {
  background: var(--grey);
  border-radius: 10px;
  font-family: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  text-align: left;
  min-height: 343px;
  line-height: 1.2;
}

.textRed {
  color: var(--light-red);
}

.textGreen {
  color: var(--green);
}

.textYellow {
  color: var(--light-yellow);
}
