@import './../../variables.css';

.nav {
  height: 100px;
}

.logo {
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  float: left;
  margin: 0;
  text-transform: uppercase;
}

.ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.li {
  float: left;

}

.link {
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}
